* {
  box-sizing: border-box;
}
html,body,#root,.main {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background: #303030;
  color: #FFF;
  font-family: "Open Sans", sans-serif;
}
canvas {
  width: 100%;
  height: 100%;
}
.row {
  display: flex;
  height: 100%;
}
.col {
  width: 50%;
}
.output {
  width: 75%;
  height: 100%;
  position: relative;
}
.output .downloadImage {
  width: 40px;
  height: 40px;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: #aaaaaa;
  transition: .3s ease;
  cursor: pointer;
  z-index: 10;
}
.output .downloadImage:hover {  
  background-color: #888888;
}
.output .downloadImage div {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAlElEQVRIiWNkIB78R+MzEqOJiQQLyAKjFoxaMGoBfgu0GRgYvjJAcjB6LmZAEv/OwMCgT64D0pEMwoXTyDUcBpbhMXw1pYYzMDAw8DMwMNzDYvgjBgYGIWpYwMDAwGDKwMDwE8nw3wwMDFbUMhwGKpAsKKe24QwMkBS3k4GBYR8DDZO3OBSPgiEEGBmwlzNUAzQvTQGWeSc+PHVQMgAAAABJRU5ErkJggg==);
  width: 100%;
  height: 100%;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
}
.options {
  width: 25%;
  padding: 0 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #505050;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.75);
  z-index:1;
}
.output > canvas {
  width: 100%;
  height: 100%;
}
h1 {
  margin-bottom: 40px;
  font-size: 3em;
  margin-top:0;
}
.options .row {
  margin:35px 0;
  height: auto;
}
.btn {
  padding: 5% 20%;
  background: transparent;
  border: 1px solid #aaaaaa;
  cursor: pointer;
  transition: .3s ease;
  text-align: center;
  display: block;
}
.btn:hover {
  color: #303030;
  background: #aaaaaa;
}
.btn:hover > div {
  background-color: #303030;
}
.btn.btn-primary {
  border: #3498db 1px solid;
  color: #3498db;
  margin-bottom: 20px;
}
.btn.btn-primary:hover {
  background: #3498db;
  color: #303030;
}
.btn.btn-success {
  border: #38b418 1px solid;
  color: #38b418;
  margin-bottom: 20px;
}
.btn.btn-success:hover {
  background: #38b418;
  color: #303030;
}
.input {
  display: inline-block;
  color: white;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255,255,255,0.25);
  border: none;
  border-radius: 2px;
  margin: 10px auto;
  transition:background-color 0.5s ease;
}
.input:hover {
  background-color: rgba(255,255,255,0.35);
}
.input:focus {
  background-color: rgba(255,255,255,0.45);
}
.input option {
  color: black;
}
.vector {
  display: flex;
  justify-content: center;
}
.vector .input {
  width: 25%;
}
.vector .input:first-child {
  margin-left: 0;
}
.vector .input:last-child {
  margin-right: 0;
}

.expandObjects {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #aaaaaa;
  transition: .3s ease;
  z-index: 5;
  cursor: pointer;
}
.expandObjects:hover {
  background-color: #888888;
}
.expandObjects span {
  position: absolute; 
  left:5px;
  height: 4px; width: 40px; 
  background: #444; 
  border-radius: 2px;
  display: block; 
  transition: 0.5s; 
  transform-origin: center; 
}
.expandObjects span:nth-child(1) { top: 11px; }
.expandObjects span:nth-child(2) { top: 23px; }
.expandObjects span:nth-child(3) { top: 35px; }

.expandObjects.open span:nth-child(1){
  transform: translateY(12px) rotate(-45deg);
}
.expandObjects.open span:nth-child(2){
  opacity:0;
}
.expandObjects.open span:nth-child(3){
  transform: translateY(-12px) rotate(45deg);
}
.objects {
  width: 25%;
  height: 100%;
  padding: 0 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #606060;
  z-index:2;
  position: absolute;
  right: -25%;
  transition: right .5s ease;
}
.objects.open {
  right: 0;
}

.objects ul {
  list-style-type: none;
  padding-left: 0;
}
.objects > ul {
  max-height: 75%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}
 
::-webkit-scrollbar-track {
  background: #ddd;
}
 
::-webkit-scrollbar-thumb {
  background: #666; 
}

.objects ul li {
  margin: 1% 0;
  background-color: #888888;
  overflow: hidden;
  border-radius: 5px;
}
.objects ul li .header {
  display: flex;
  cursor: pointer;
  align-items: center;
}
.objects ul li .header .arrow {
  width: 20px;
  height: 20px;
  background-color: #cccccc;
  clip-path: polygon(25% 0, 100% 50%, 25% 100%);
  transform: rotate(180deg);
  transition: .4s ease;
}
.objects ul li .header .arrow.open {
  transform: rotate(90deg);
}
.objects ul li .header .delete {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #cccccc;
  border-radius: 50%;
  position: relative;
  margin-right: 10px;
  transition: .3s ease;
}
.objects ul li .header .delete:hover {
  background-color: #aaaaaa;
}
.objects ul li .header .delete span {
  width: 14px;
  height: 2px;
  border-radius: 2px;
  background-color: #333333;
  position: absolute;
  left: 3px;
}
.objects ul li .header .delete span:nth-child(1) {
  transform: rotate(45deg);
  top: 9px;
}
.objects ul li .header .delete span:nth-child(2) {
  transform: rotate(-45deg);
  bottom: 9px;
}

.objects ul li .preview {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  display: flex;
  align-items: center;
}
.objects ul li .preview img {
  width: 100%;
}
.objects ul li h2 {
  flex-basis: 0;
  flex-grow: 5;
  flex-shrink: 1;
  padding-left: 5%;
  font-size: 100%;
}
.objects ul li .body {
  display: none;
}
.objects ul li .body.open {
  display: block;
}
.addObject {
  position: relative;
  width: 100%;
}
.addObject .selection {
  width: 75%;
  position: absolute;
  top: 0;
  left: 12.5%;
  background-color: #666666;
  -webkit-box-shadow: -10px 10px 14px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: -10px 10px 14px 0px rgba(0,0,0,0.45);
  box-shadow: -10px 10px 14px 0px rgba(0,0,0,0.45);
  transform-origin: center center;
  transition: transform .4s ease;
  transform: scale(0);
}
.addObject .selection.open {
  transform: scale(1);
}
.addObject .selection ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
.addObject .selection ul li {
  width: 100%;
  transition: .3s ease;
  border-radius: 0;
  margin: 0;
  padding: 10px 0;
  cursor: pointer;
  text-align: center;
}
.addObject .selection ul li:hover {
  background-color: #444444;
}

.plus {
  background-color: inherit;
  width: 20px;
  height: 20px;
  clip-path: polygon(0 40%, 40% 40%, 40% 0, 60% 0, 60% 40%, 100% 40%, 100% 60%, 60% 60%, 60% 100%, 40% 100%, 40% 60%, 0 60%);
  float: left;
  margin-right: 5px;
  transition: .3s ease;
}
.plus.green {
  background-color: #38b418;
}
.ReactCollapse--collapse {
  transition: .5s ease;
}
.ReactCollapse--content {
  padding: 0 1%;
}